.king{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    opacity: 0.5;
    filter: blur(5px);
}
.centerText{
    position: absolute;
    opacity: 1;
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
}
.music{
    top: 20vh;
    left: 40vw;
}
.everywhere{
    top: 30vh;
    left: 15vw;
}
.oklama{
    top: 40vh;
    left: 36vw;
}
.indicater{
    width: 15vw;
    height: auto;
    position: absolute;
    bottom: 0vh;
    right: 5vw;
}
.paragraph{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5vw;
    width: 21vw;
    position: absolute;
    bottom: 10vh;
    left: 40vw;
}