@keyframes carousel{
    100%{
        transform: translateX(230vw);
    }
}
.bgImageMerch{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: auto;
    left: 0;
    top: -20vh;
    opacity: 0.4;
    filter: blur(8px);
}
.Merch{
    position: absolute;
    top: 10vh;
    left: 31vw;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.carouselText{
    position: absolute;
    top: 18vh;
    left: -130vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}
.carouselTextOne{
    animation: carousel 20s linear infinite 0s;
}
.carouselTextTwo{
    animation: carousel 20s linear infinite 12s;
}
.tshirt-container{
    position: absolute;
    top: 25vh;
    left: 0vw;
    display: flex;
    flex-direction: row;
}
.tshirtElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}
.tshirt{
    z-index: 1;
    width: 20vw;
    height: auto;
    margin: 25px;
}
.addToCart{
    color: rgb(0, 0, 0);
    width: 7vw;
    height: 4vh;
    border-radius: 7px;
    font-size: 0.8vw;
}
.store{
    font-size: 0.6vw;
    width: 60vw;
    position: absolute;
    bottom: 10vh;
    left: 18vw;
    opacity: 0.8;
}