@keyframes carousel{
    100%{
        transform: translateX(230vw);
    }
}
.display-container{
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}
.bgImageMerch{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: auto;
    left: 0;
    top: -20vh;
    opacity: 0.4;
    filter: blur(8px);
}
.Merch{
    position: absolute;
    top: 10vh;
    left: 31vw;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.carouselText{
    position: absolute;
    top: 18vh;
    left: -130vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
}
.carouselTextOne{
    animation: carousel 20s linear infinite 0s;
}
.carouselTextTwo{
    animation: carousel 20s linear infinite 12s;
}
.tshirt-container{
    display: flex;
    flex-direction: row;
}
.tshirtElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
}
.tshirt{
    z-index: 1;
    width: 20vw;
    height: auto;
    margin: 25px;
}
.addToCart{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: white 1px solid;
    width: 7vw;
    height: 4vh;
    border-radius: 7px;
    font-size: 0.8vw;
}
.addToCart:hover{
    color: black;
    background-color: white;
}
.addToCart:active{
    color: black;
    background-color: rgba(255, 255, 255, 0.747);
    border: none;
}
.store{
    font-size: 0.6vw;
    width: 60vw;
    opacity: 0.8;
    margin: 100px 0px;
    text-align: center;
}