.big-container{
    position: absolute;
    top: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    border: rgba(255, 255, 255, 0.48) 1px solid;
    border-radius: 15px;
    height: 80vh;
    width: 97vw;
    overflow-x: hidden;
}
.stopScroll{
    overflow-y: hidden;
}
.startScroll{
    overflow-y: scroll;
}
.big-container::-webkit-scrollbar{
    display: none;
}
.main .heading{
    position: absolute;
    left: 1.5vw;
    top: 8vh;
    font-size: 2vw;
}
