.big-container{
    position: absolute;
    top: 7vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    height: 80vh;
    width: 96vw;
    overflow-x: hidden;
}
.stopScroll{
    overflow-y: hidden;
}
.startScroll{
    overflow-y: scroll;
}
.big-container::-webkit-scrollbar{
    display: none;
}
.main .heading{
    position: absolute;
    left: 1.5vw;
    top: 4vh;
    font-size: 2vw;
}
.bgImageMusic{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: auto;
    left: 0;
    top: -40vh;
    opacity: 0.2;
    filter: blur(10px);
}