:root{
  --faded-border: rgba(255, 255, 255, 0.705) 2px solid;
}
.section{
    text-align: left;
    margin: 7px;
    width: 23vw;
    padding: 10px 5px;
}
.section .image{
    height: auto;
    width: 20vw;
    margin: 5px 25px;
    border-radius: 5%;
}
.section .head{
    border: var(--faded-border);
    border-radius: 15px;
    padding: 10px;
    height: fit-content;
    margin: 5px 25px;
    position: relative;
    width: 18.5vw;
}
.section .text, .section .head .description{
    opacity: 0.54;
    padding: 5px;
}
.section .text{
    font-size: 1vw;
    padding: 10px 0px;
}
.section .head .description{
    font-size: 1vw;
}
.section .head .name, .section .head .year{
    font-size: 1.5vw;
    display: inline-block;
}
.section .head .name{
    text-align: left;
    width: 15vw;
}
.section .head .year{
    text-align: right;
    position: absolute;
    margin: 0px 10px 10px 0px;
    right: 0;
}